@charset "UTF-8";
.person-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    box-shadow: 10px 10px 5px #A8A8A8;
    background-color: white;
}

.person-table th {
    background-color: #2c3e50;
    color: white;
    padding: 10px;
    text-align: left;
}

.person-table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.person-table tr:hover {
    background-color: #f5f5f5;
}

.person-table button,
.person-table input[type="submit"] {
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    cursor: pointer;
}

.person-table button {
    background-color: #e74c3c;
    color: white;
    transition-duration: 0.4s;
}
.person-table button:hover {
    background-color: #e74c3c;
    color: white;
    transform: scale(1.1);
}

.person-table input[type="submit"] {
    background-color: #3498db;
    color: white;
}
table, th, td {
  border: 1px solid;
}

.zurueck{
	transition-duration: 0.4s;
}

.zurueck:hover{
	background-color: #B9D3EE;
	color: #000080;
	transform: scale(1.1);
	box-shadow: 10px 10px 5px #A8A8A8;
}

.person-table input[type="submit"]{
    transition-duration: 0.4s;
}

.person-table input[type="submit"]:hover {
    background-color: #3498db;
    color: white;
    transform: scale(1.1);
}

body {
  animation: colorChange 10s infinite;
}

@keyframes colorChange {
  0% { background-color: #27408B; }
  33% { background-color: #1C86EE; }
  66% { background-color: #a1c4fd; }
  100% { background-color: #98F5FF; }
}
